<!doctype html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
    <head>
        <title>Alunos</title>
    </head>

    <body>
        <div layout:fragment="conteudo">
            <div class="list-group align-middle mb-0 bg-white" th:hidden="${alunos == null || alunos.isEmpty()}">
                <div class="row d-flex justify-content-lg-start border-bottom border-black">
                    <div class="col-8 col-lg-6"><h3>Nome</h3></div>
                    <div class="col-4 col-lg-3 text-center"><h3>Turma</h3></div>
                </div>

                <div class="row justify-content-center border-bottom border-black" th:each="aluno : ${alunos}">
                    <div class="col-8 col-lg-6 d-flex align-items-center text-truncate">
                        <p class="fw-bold m-0" th:text="${aluno.nome()}"></p>
                    </div>

                    <div class="col-4 col-lg-3 d-flex align-items-center justify-content-center">
                        <p class="fw-normal m-0" th:text="${aluno.turma()}"></p>
                    </div>

                    <div class="col-6 col-lg-3 d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-outline-primary w-75 my-1">
                            <a th:href="@{'/aluno/' + ${aluno.matricula()}}">Ver</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="flex-column" th:hidden="${!alunos.isEmpty()}">
                    <h3 class="row fs-5 py-4 justify-content-center" >Não existem alunos cadastrados!</h3>
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-success btn-lg col-8 col-md-6 col-sm-3">
                            <a href="/cadastro" class="text-white">Cadastrar</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
